<div class="wrapper">
    <h2>2020</h2>
    <ul class="auto-grid gap-top-base">
    {% for book in bookshelf %}
      {% if ('2020' in book.date_finished) or ('2020' in book.date_updated)  %}
        <li>
            <div class="book">
                {% if '/nophoto/' in book.image_url %}
                    <img class="book-cover" src="/images/book-covers/{{ book.spinal_title }}.jpg" alt={{book.title}}>
                {% else %}
                    <img class="book-cover" src={{book.image_url}} alt={{book.title}}>
                {% endif %}
                <p class="font-serif text-300 gap-top-300 low-line-height">{{book.title}}</h2>
                <p class="text-300">{{book.author}}</p>
                <p class="text-300">
                    {% for i in range(0, book.rating) %}
                        ⭐
                    {% endfor %}
                </p>
                <p class="text-300 gap-bottom-base"><a href={{book.link}}>On Goodreads↗ </a></p>
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <h2 class="gap-top-base">Pre-2020</h2>
    <ul class="auto-grid gap-top-base">
    {% for book in bookshelf %}
      {% if ('2019' in book.date_updated) or ('2015' in book.date_updated) %}
        <li>
            <div class="book">
                {% if '/nophoto/' in book.image_url %}
                    <img class="book-cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt={{book.title}}>
                {% else %}
                    <img class="book-cover" src={{book.image_url}} alt={{book.title}}>
                {% endif %}
                <p class="font-serif text-300 gap-top-300 low-line-height">{{book.title}}</h2>
                <p class="text-300">{{book.author}}</p>
                <p class="text-300">
                    {% for i in range(0, book.rating) %}
                        ⭐
                    {% endfor %}
                </p>
                <p class="text-300 gap-bottom-base"><a href={{book.link}}>On Goodreads↗ </a></p>
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
</div>