<div class="wrapper">
    <h2>2022</h2>
    <ul class="auto-grid gap-top-base">
    {% for book in bookshelf %}
      {% if ('2022' in book.date_finished)  %}
        <li>
            <div class="book">
                {% if '/nophoto/' in book.image_url %}
                    <img class="book-cover" src="/images/book-covers/{{ book.spinal_title }}.jpg" alt="{{book.alt}}">
                {% else %}
                    <img class="book-cover" src="{{book.large_image_url}}" alt="{{book.alt}}">
                {% endif %}
                <div class="book-title-rating">
                    <p class="font-serif text-base gap-top-300 low-line-height">{{book.title}}</h2>
                    <p class="text-300">{{book.author}}</p>
                    <p class="text-300">
                        {% for i in range(0, book.rating) %}
                            ⭐
                        {% endfor %}
                    </p>
                    <p class="text-300 gap-bottom-base gap-top-base"><a target="_blank" href={{book.link}}>On Goodreads ↗ </a></p>
                </div>
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <div class="wrapper">
        <p align="center" class="text-700 gap-top-base gap-bottom-base"><a target="_blank" href="https://www.gov.uk/search-library-catalogue">Find your local Library (UK) ↗ </a></p>
    </div>
    <h2>2021</h2>
    <ul class="auto-grid gap-top-base">
    {% for book in bookshelf %}
      {% if ('2021' in book.date_finished)  %}
        <li>
            <div class="book">
                {% if '/nophoto/' in book.image_url %}
                    <img class="book-cover" src="/images/book-covers/{{ book.spinal_title }}.jpg" alt="{{book.alt}}">
                {% else %}
                    <img class="book-cover" src="{{book.large_image_url}}" alt="{{book.alt}}">
                {% endif %}
                <div class="book-title-rating">
                    <h3 class="font-serif text-base gap-top-300 low-line-height">{{book.title}}</h3>
                    <p class="text-300">{{book.author}}</p>
                    <p class="text-300">
                        {% for i in range(0, book.rating) %}
                            ⭐
                        {% endfor %}
                    </p>
                    <p class="text-300 gap-bottom-base gap-top-base"><a target="_blank" href={{book.link}}>On Goodreads ↗ </a></p>
                </div>
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <div class="wrapper">
        <p align="center" class="text-700 gap-top-base gap-bottom-base"><a target="_blank" href="https://www.gov.uk/search-library-catalogue">Find your local Library (UK) ↗ </a></p>
    </div>
    <h2>2020</h2>
    <ul class="auto-grid gap-top-base">
    {% for book in bookshelf %}
      {% if ('2020' in book.date_finished)  %}
        <li>
            <div class="book">
                {% if '/nophoto/' in book.image_url %}
                    <img class="book-cover" src="/images/book-covers/{{ book.spinal_title }}.jpg" alt="{{book.alt}}">
                {% else %}
                    <img class="book-cover" src={{book.large_image_url}} alt="{{book.alt}}">
                {% endif %}
                <div class="book-title-rating">
                    <h3 class="font-serif text-base gap-top-300 low-line-height">{{book.title}}</h3>
                    <p class="text-300">{{book.author}}</p>
                    <p class="text-300">
                        {% for i in range(0, book.rating) %}
                            ⭐
                        {% endfor %}
                    </p>
                    <p class="text-300 gap-bottom-base gap-top-base"><a href={{book.link}}>On Goodreads ↗ </a></p>
                </div>
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
    <div class="wrapper">
        <p align="center" class="text-700 gap-top-base gap-bottom-base"><a href="https://www.gov.uk/search-library-catalogue">Find your local Library (UK) ↗ </a></p>
    </div>
    <h2 class="gap-top-base">Pre-2020</h2>
    <ul class="auto-grid gap-top-base">
    {% for book in bookshelf %}
      {% if ('2019' in book.date_updated) or ('2015' in book.date_updated) %}
        <li>
            <div class="book">
                {# {% if '/nophoto/' in book.image_url %}
                    <img class="book-cover" src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt={{book.title}}>
                {% else %}
                    <img class="book-cover" src={{book.image_url}} alt={{book.title}}>
                {% endif %} #}
                <h3 class="font-serif text-300 gap-top-300 low-line-height">{{book.title}}</h3>
                <p class="text-300">{{book.author}}</p>
                <p class="text-300">
                    {% for i in range(0, book.rating) %}
                        ⭐
                    {% endfor %}
                </p>
                <p class="text-300 gap-bottom-base gap-top-base"><a href={{book.link}}>On Goodreads↗ </a></p>
            </div>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
</div>
