<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
          <article class="[ site-foot__details ] [ sf-flow measure-compact ]">
            <h2 class="font-base text-600">{{ site.name }}</h2>
            {{ site.shortDesc | markdownFilter | safe }}
            <form netlify name="footer">
              <label for="email-name">Get a short email when there's a new post:</label>
              <br>
              <input type="email" name="email-name" id="email-name" required aria-label="true" placeholder="hello@example.co" autocomplete="email">
              <div class="gap-top-base">
              <button type="submit" class="button font-base text-base weight-bold pad-top-500">Subscribe</button>
              <em class="form-note">No spam!</em>
              </div>
            </form>
          </article>
        </div>
      {% endif %}
      <div>
        {% set ariaLabel = 'footer navigation' %}
        {% include "partials/components/nav.njk" %}
        <ul class="nav__list">
          <li class="nav__item"><a href="/colophon">Colophon</a><p></p></li>
        </ul>
        <div class="[ theme-toggle ] [ md:ta-right gap-top-500 ]">
        <theme-toggle></theme-toggle>
        </div>
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-900 ]">
        Powered by the
        <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>