@import 'config';

// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';

// Local mixins
@import 'mixins/dark-mode';

@import 'theme';

// Local dependencies
@import 'typography';

/**
 * GLOBAL STYLES
 */
html, body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

input {
  background-color: #fff;
  font: inherit;
  border: 1px solid var(--color-text);
  margin-top: .15rem;
  padding: .5rem 1rem;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

label {
  font-weight: 600;
}

.form-note {
  margin-top: .3rem;
  font-size: .875rem;
  line-height: 1.25;
}

// Table border:

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--color-text);
}

th {
  padding: 0.4em;
}
td {
  padding: 0.25em;
  font-size: smaller;
}

.wrapper {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 8rem), 2fr));
  grid-gap: 1rem;
}

.book-cover {
  height: 170px;
}

.low-line-height {
  line-height: 1.25;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';

// Components
@import 'components/button';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
